* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
 
}
body {
  height: 100vh;
  overflow-y: auto;
  background: radial-gradient( gray, black) center center fixed;
  /*background: url(https://images.unsplash.com/photo-1464639351491-a172c2aa2911?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) no-repeat center center fixed;*/
  background-repeat: no-repeat;
  background-size: cover;
  
  padding: 0px;
}
body {
  padding: 0px;
}
input:hover, button:hover {
  cursor: pointer;
}
.response, #welcome-text, #directions {
  font-family: 'Acme', sans-serif;
  color: silver;
}
.hidden {
  display: none;
}
form {
  padding: 0px;
}
img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.identifier {
font-weight: bold;
font-family: 'Russo One', sans-serif;
}
#director {
  display: inline;
}
#search-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  border: none;
}
h2, h1 {
  margin-top: 60px;
  padding-top: 20px;
  font-size: 2em;
  font-family: 'Russo One', sans-serif;
  color: black;
  
  text-shadow: 1px 1px 3px saddlebrown;
}
#lets-go-button {
  margin-top: 20px;
}
#welcome-text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: silver;
}
#directions {
  padding: 8px;
  color: silver;
}
label {
  border: 1px solid black;
  padding: 4px;
}
.media-button, #user-search, #search-button, #lets-go-button {
height: 40px;
font-family: 'Russo One', sans-serif;
}
.media-button {
  border: none;
  width: 60px;
  font-size: 100%;
}
#user-search {
  font-size: 100%;
  text-align: left;
}
.selected {
  margin: 1px solid orange;
  background-image: radial-gradient(mediumslateblue, darkblue);
  /*background-color: forestgreen;*/
}
.not-selected {
  background-image: radial-gradient(lightpink, darkred);
}
#search-button, #lets-go-button {
  width: 80px;
  margin-top: 8px;
  background-image: radial-gradient(springgreen, darkgreen);
  border:none;
}
#lets-go-button {
  margin-bottom: 15px;
}
#see-also-text > button, #not-what-wanted > button, #try-similar > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#release-div {
  display: inline;
}
.new-search {
  font-family: 'Acme', sans-serif;
  font-size: 15px;
  background-color: silver;
  padding-left: 4px;
  padding-right: 4px;
  margin: 10px;
  color: blue;
  border: 1px silver;
  border-radius: 3px;
}
