* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}
.hidden {
  display: none;
}
img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.identifier {
font-weight: bold;
}
#director {
  display: inline;
}